In [1]:
%matplotlib inline
import pandas as pd
from scipy import stats
from pydataset import data
import viz

tips = data('tips')

In [3]:
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3

In [4]:
tips.shape

(244, 7)

In [ ]:
# use chi squared to compare two categorical variables 
# compare sex with smoker

In [6]:
# state hypothesis and define alpha or level of significance

 - $H_0$: Sex is independent of whether or not someone is a smoker
 - $H_a$: Sex is dependent of whether or not someone is a smoker

In [14]:
alpha = 0.05

In [7]:
# create contingency table
contingency_table = pd.crosstab(tips.sex, tips.smoker)
contingency_table

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [8]:
# we have a crosstab so use chi2_contingency test

stats.chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]]))

In [10]:
# you can create variables of the output(chi2 statistics, pvalue, degrees of freedom, and matrix of expected values)
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

In [12]:
# pretty print output values so we can easily read them
print('Observed')
print(contingency_table.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed
[[54 33]
 [97 60]]

Expected
[[53 33]
 [97 59]]

----
chi^2 = 0.0000
p     = 1.0000

In [15]:
# Conclusion based on output variables
#compare our p-value and alpha
if p < alpha:
    print('reject the null hypothesis')
else:
    print('fail to reject the null hypothesis')

fail to reject the null hypothesis

In [ ]:
# we fail to reject the null hypothesis
# Sex is independent of whether or not someone is a smoker